@model IEnumerable<Import_From_Excel.Models.Address>
@{
    ViewBag.Title = "Strona główna";
}

<body>
    <div class="jumbotron">
        <h3>Importowanie danych z pliku Excel do bazy danych</h3>
    </div>

    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div>
                @Html.Raw(ViewBag.Error)
                <input type="file" name="excelfile" required />
                <br />
                <button type="submit">Importuj</button>
            </div>
        </form>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AddressId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostOfficeCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrespondenceStreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrespondenceStreetnumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrespondenceFlatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrespondencePostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrespondencePostOfficeCity)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlatNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostOfficeCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrespondenceStreetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrespondenceStreetnumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrespondenceFlatNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrespondencePostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrespondencePostOfficeCity)
                    </td>
                </tr>
            }

    </div>

</body>
